<template>
  <div class="hello">
    <form>
      <div>
        <label for="name">Name</label>
        <input type="text" id="name" v-model="name">
      </div>
      <div>
        <label for="surname">Surname</label>
        <input type="text" id="surname" v-model="surname">
      </div>
    </form>

    {{ name }}
    {{ surname }}
  </div>
</template>

<script>
export default {
  name: 'hello',
  data () {
    return {
      name: null,
      surname: null
    }
  },
  methods: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #35495E;
}
</style>
